body::-webkit-scrollbar
{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg
{
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media only screen and (max-width: 2000px)
{
    .bg
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.topic
{
    /* background-color: #f1f1f1; */
    padding: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
}

.panel
{
    background-color: #f1f1f1;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}

@media only screen and (max-width: 2000px)
{
    .panel
    {
        width: 50vw;
        margin: 20px;
    }
}
@media only screen and (max-width: 1000px)
{
    body{
        overflow: hidden;
    }
    .panel
    {
        width: calc(100% - 60px);
        margin: 20px;
    }
}

.questionpanel
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.number
{
    background-color: darkgray;
    padding: 10px;
    width: 15px;
    height: 15px;
    margin: 0px 10px 0px 0px;
    border-radius: 30px;
    text-align: center;
}

.answerpanel
{
    display: block;
}

.answerpanel pre
{
    overflow-x: scroll;
}

.answerpanel pre::-webkit-scrollbar
{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.questionpanel span{
    display: block;
    cursor: pointer;
}

.dropdown
{
    background-color: red;
    color: white;
    padding: 5px;
    margin: 0px 10px 0px 0px;
    border-radius: 30px;
    display: none;
}

.code
{
    font-family: Consolas,"courier new";
    padding: 20px;
    border-radius: 30px;
    color: white;
    background-color: black;
}
